[project]
name = "research_project_template"
version = "0.0.1"
description = "Research Project Template"
authors = [
    {name = "Fabrice Normandin", email = "normandf@mila.quebec"},
    {name = "César Miguel Valdez Córdova", email = "cesar.valdez@mila.quebec"}
]
dependencies = [
    "torch>=2.2.1",
    "torchvision>=0.17.1",
    "hydra-core>=1.3.2",
    "rich>=13.7.1",
    "tqdm>=4.66.2",
    "hydra-zen>=0.12.1",
    "gym==0.26.2",
    "lightning>=2.3.0",
    "gdown>=5.1.0",
    "hydra-submitit-launcher>=1.2.0",
    "wandb>=0.16.4",
    "hydra-colorlog>=1.2.0",
    "matplotlib>=3.8.3",
    "moviepy>=1.0.3",
    "pygame==2.5.2",
    "jax>=0.4.28",
    "brax>=0.10.3",
    "tensorboard>=2.16.2",
    "gymnax>=0.0.8",
    "torch-jax-interop @ git+https://www.github.com/lebrice/torch_jax_interop",
    "tensor-regression>=0.0.4",
    "simple-parsing>=0.1.5",
    "pydantic==2.7.4",
    "milatools>=0.0.18",
]
requires-python = ">=3.12"
readme = "README.md"
license = {text = "MIT"}

[project.scripts]
project = "project:main.main"

[project.optional-dependencies]
gpu = [
    "jax[cuda12]>=0.4.28",
]

[tool.setuptools]
packages = ["project"]

[tool.pdm]
distribution = true

[tool.pdm.dev-dependencies]
dev = [
    "pytest>=8.1.1",
    "pytest-timeout>=2.3.1",
    "pytest-regressions>=2.5.0",
    "pytest-skip-slow>=0.0.5",
    "pytest-env>=1.1.3",
    "pytest-xdist>=3.5.0",
    "ruff>=0.3.3",
    "pytest-benchmark>=4.0.0",
    "pytest-cov>=5.0.0",
    "tensor-regression>=0.0.2.post3.dev0",
    "pytest-testmon>=2.1.1",
    "mkdocs>=1.6.0",
    "pymdown-extensions>=10.8.1",
    "mkdocstrings[python]>=0.25.1",
    "mkdocs-gen-files>=0.5.0",
    "black>=24.4.2",
    "mkdocs-awesome-pages-plugin>=2.9.2",
    "mkdocs-literate-nav>=0.6.1",
    "mkdocs-material>=9.5.28",
    "pre-commit>=3.7.1",
]

[[tool.pdm.source]]
name = "jax"
url = "https://storage.googleapis.com/jax-releases/jax_cuda_releases.html"
verify_ssl = true
type = "find_links"
[build-system]
requires = ["setuptools>=61", "wheel"]
build-backend = "setuptools.build_meta"

[tool.pytest.ini_options]
testpaths = ["project"]
# todo: look into using https://github.com/scientific-python/pytest-doctestplus
addopts = ["--doctest-modules", "--stats-rounding-precision=3"]

[tool.ruff]
line-length = 99
indent-width = 4
# Add the pyupgrade and isort options in addition to the defaults.
lint.select = ["E4", "E7", "E9", "F", "I", "UP"]
