# {{project_name}}

[![hydra](https://img.shields.io/badge/Config-Hydra_1.3-89b8cd)](https://hydra.cc/)
[![Copier](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/copier-org/copier/master/img/badge/badge-grayscale-inverted-border-teal.json)](https://github.com/mila-iqia/ResearchTemplate)


{{project_description}}


## Installation

```bash
uv sync
```

## Usage

```console
. .venv/bin/activate
python {{module_name}}/main.py --help
```
