defaults:
  - base_config
  - _self_
  - datamodule: cifar10
  - algorithm: ExampleAlgorithm
  - network: resnet18
  - trainer: default.yaml
  - trainer/callbacks: default.yaml
  - trainer/logger: null # use logger=wandb to enable wandb logging.
  - hydra: default.yaml

  # Allows launching LOTS of runs in parallel on a cluster thanks to the submitit launcher.
  - resources: null

  # experiment configs allow for version control of specific hyperparameters
  # e.g. best hyperparameters for given model and datamodule
  - experiment: null

# name: "${hydra:runtime.choices.algorithm}-${hydra:runtime.choices.network}-${hydra:runtime.choices.datamodule}"
