# yaml-language-server: $schema=../../../.schemas/trainer_default_schema.json
_target_: lightning.Trainer
logger: null
accelerator: auto
strategy: auto
devices: auto

deterministic: true

min_epochs: 1
max_epochs: 10

# path to output directory, created dynamically by hydra
# path generation pattern is specified in `configs/hydra/default.yaml`
# use it to store all files generated during the run, like checkpoints and metrics
default_root_dir: ${hydra:runtime.output_dir}

detect_anomaly: false
