{
  "editor.formatOnSave": true,
  "python.testing.pytestArgs": [
    "."
  ],
  "testing.showCoverageInExplorer": true,
  "python.testing.unittestEnabled": false,
  "python.testing.pytestEnabled": true,
  "python.analysis.typeCheckingMode": "standard",
  "python.analysis.autoImportCompletions": true,
  "editor.codeActionsOnSave": {
    "source.organizeImports.ruff": "explicit",
    "source.fixAll.ruff": "explicit"
  },
  "editor.rulers": [
    99
  ],
  "files.exclude": {
    "**/.git": true,
    "**/.svn": true,
    "**/.hg": true,
    "**/CVS": true,
    "**/.DS_Store": true,
    "**/Thumbs.db": true,
    "*.egg-info/": true,
    ".venv": true,
    ".pytest_cache": true,
    ".ruff_cache": true,
    ".regression_files": false,
    "site": true,
    ".schemas": true
  },
  "debugpy.debugJustMyCode": false,
  "redhat.telemetry.enabled": false
}
