# yaml-language-server: $schema=../../../.schemas/algorithm_jax_example_schema.json
# This config show how you can customize use a config file to configure the example algorithm.

_target_: project.algorithms.jax_example.JaxExample
# NOTE: Why _partial_? Because the config doesn't create the algo directly, it creates a function
# that will accept the datamodule and network and return the algo.
_partial_: true
hp:
  lr: 1e-3
  seed: 123
  debug: False
